.container {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 48px;
    width: 400px;
    gap: 20px;
    padding: 20px;
    border: solid 1px rgb(9, 51, 75);
    border-radius: 5px;
    background-color: rgb(18, 84, 122);
}

body {
    display: flex;
    justify-content: center;
}

.display-container {
    display: flex;
    height: 80px;
    width: 400px;
    border: solid 1px white;
    box-sizing: border-box;
    padding: 10px;
}

.display {
    display: flex;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
}

.display-text {
    box-sizing: border-box;
    width: 300px;
    height: 60px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 36px;
    text-align: right;
    color: white;
    vertical-align: middle;
}

.display-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60px;
    width: 80px;
    gap: 5px;
}

.display-buttons button {
    width: 60px;
    height: 30px;
    font-size: 20px;
}

.buttons-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.buttons-row {
    display: flex;
    justify-content: space-between;
    width: 400px;
}

.buttons-container button {
    width: 80px;
    height: 80px;
    font-size: inherit;
}

button, .display-container {
    border-radius: 10px;
}

.display-buttons button {
    border-radius: 5px;
}

button {
    background-color: rgb(52, 161, 219);
    color: white;
}